.button {
  outline: none;
  border: 1px solid #222222;
  background-color: #3A3A3A;
  padding: 6px 11px;
  color: #F7F7F7;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  height: 34px;
  cursor: pointer;
  vertical-align: top;
}

.button > img {
  height: 12px;
  vertical-align: middle;
}

.button:hover {
  background-color: #484848;
}

.button:active {
  background-color: #272727;
}

.button:disabled {
  background-color: #2E2E2E;
  color: #8F8F8C;
}

