.container {
  height: 100vh;
  position: relative;
}

.controls {
  margin-left: auto;
  width: 300px;
  padding: 12px;
  background-color: #343434;
  height: 100%;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 300px;
}
